<!-- Footer -->
<footer class="text-center text-lg-start text-muted fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-4">
    © 2022 Copyright &copy;:
    <span class="text-reset fw-bold">Blog Fares</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
