<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div
      class="container d-flex justify-content-center align-items-center text-center flex-column"
      style="height: 90vh"
    >
      <div class="not-found content">OOPS, page not found :)</div>
    </div>
  </body>
  <%-include('./partials/footer.ejs')%>
</html>
